/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.container {
  height: 800px;
  width: 500px;
  background-color: #999;
  overflow: scroll;
  overflow-y: auto;

  position: relative;
}
.content {
  position: relative;

  height: 100000px;
}
.cell {
  height: 100px;
  width: auto;
  background-color: aqua;
  display: flex;
}
.img_container {
  height: 100px;
  width: 100px;
}
.img_container img {
  height: 100px;
  width: 100px;
}
.text_container {
  line-height: 100px;
  text-align: middle;
  color: black;
  flex: 1;
}
